version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: valentine-tree-app
    ports:
      - "30082:80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    volumes:
      - ./logs:/var/log/nginx
